// ion-img.logo.md.hydrated {
//     width: 91px;
// }
// ion-button {
//     margin-bottom: 10%
// }

/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
    line-height: 103px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

// ion-item.item.md.in-list.ion-focusable.hydrated {
//     width: 113%;
//     margin-left: -6%;
//     margin-top: -6%;
//     margin-bottom: 10%;
// }
ion-slide.md.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    width: 100%;
    height: min-content;
}

.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 8px;
    margin-inline-start: 4px;
    -webkit-margin-end: 7px;
    margin-inline-end: 6px;
}

.custom-skeleton ion-skeleton-text {
    width: 239px !important;
    height: 100%;
}

// ion-button.ion-color.ion-color-tertiary.md.button.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
//     font-size: 10px;
//     height: 27px;
// }
ion-slides {
    height: 161px;
    border: 2px dotted #9E9E9E
}

.sc-ion-card-md-h[_ngcontent-lan-c2] {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 16px;
    margin-inline-start: 8px;
    -webkit-margin-end: 12px;
    margin-inline-end: 9px;
}

.sc-in-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    -webkit-margin-end: 3px;
    margin-inline-end: 15px;
    padding-top: 21%;
    z-index: 100;
}

// .logo,
// ion-avatar.md.hydrated {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 126px;
//     width: 110px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     position: absolute;
//     padding: 9px;
//     z-index: 99999999;
//     background: white;
//     left: 65px;
//     top: -41px;
// }
// design 1
// .logo {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 152px;
//     width: 129px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     position: absolute;
//     padding: 7px;
//     z-index: 999px;
//     background: white;
//     left: 114px;
//     top: -63px;
// }
// design 2
// .logo {
//     border-radius: 74px;
//     border: 1px solid #0000000d;
//     height: 152px;
//     width: 129px;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     padding: 7px;
//     z-index: 999px;
//     background: white;
//     left: 114px;
//     top: -63px;
// }
p.couponCode {
    text-align: center;
    border: 4px dotted black;
}

// ion-img.logo.md.hydrated[_ngcontent-kfx-c0] {
//     width: 133px;
//     line-height: 16%;
//     display: inherit;
// }
ion-img.logo {
    width: 259px;
    border-radius: 4px;
    height: 72px;
    width: 259px !important;
    height: 151px;
}

// design 4
// .logo {
//     border: 1px solid #0000000d;
//     box-shadow: -3px 4px 8px 0px #00000061;
//     padding: 0px;
//     background: white;
// }
// .sc-ion-card-md-h {
//     margin-left: unset;
//     margin-right: unset;
//     -webkit-margin-start: 8px;
//     margin-inline-start: 8px;
//     -webkit-margin-end: 3px;
//     margin-inline-end: 15px;
//     z-index: 100;
// }
// .logo {
//     border: 1px solid #0000000d;
//     box-shadow: -4px 10px 4px 0px #00000061;
//     padding: 0px;
//     background: white;
// }
// ion-card-header.md.hydrated {
//     margin-bottom: -52px;
// }
p.cpn {
    background: #30411c;
    color: white;
    width: 137px;
    padding: 2px;
    border: 4px dotted #2b213e6b;
    z-index: 99999;
}

.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 11px;
    margin-inline-start: 12px;
    -webkit-margin-end: 9px;
    margin-inline-end: 13px;
    z-index: 100;
    padding: 19px;
    margin-top: 38px;
}

ion-tab-button {
    background: #2196F3;
    color: whitesmoke;
    padding: 2px;
}

ion-title.md.title-md.hydrated {
    font-size: 12px;
}